ul.sidebar-nav
  li(class="#{ active === 'home'?'active':'' }")
    a(href!=getURL("/docs/#{ doc.id }", preview)) Overview
  li(class="#{ active === 'endpoints'?'active':'' }")
    a(href!=getURL("/docs/#{ doc.id }/endpoints", preview)) Endpoints
    ul
      each group, i in doc.groups
        li(class="#{ active === i?'active':'' }")
          a(href!=getURL("/docs/#{ doc.id }/endpoints/#{ i }", preview))= group.name