header#header
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container-fluid
        a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href="/dashboard") <i class="icon-home icon-white"></i> <strong>API</strong>me
        .nav-collapse.collapse
          ul.nav
            li(class="#{ active=='new-group'?'active':'' }")
              a(href="/docs/#{ doc.slug }/new-group") <i class="icon-plus icon-white"></i> Add Group
            li(class="#{ active=='new-endpoint'?'active':'' }")
              a(href="/docs/#{ doc.slug }/new-endpoint") <i class="icon-plus icon-white"></i> Add Endpoint
            li.dropdown
              a.dropdown-toggle(data-toggle="dropdown", href="/docs/#{ doc.slug }/settings") <i class="icon-cog icon-white"></i> Settings <span class="caret"></span>
              ul.dropdown-menu
                li: a(href="/docs/#{ doc.slug }?preview") Preview
                li: a(href="/docs/#{ doc.slug }/sharing") Sharing
                li.divider
                li: a(href="#") Download JSON file
                li: a(href="#") Export as static website
                li.divider
                li: a(href="#") Delete Doc

          
          ul.nav.pull-right
            li: a.navbar-link(href="/logout") Logout