header#header
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container-fluid
        a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href="/") <strong>API</strong>me
        .nav-collapse.collapse
          ul.nav
            li(class=active=='features'?'active':'')
              a(href="/features") Features
            li(class=active=='examples'?'active':'')
              a(href="/examples") Examples
            li(class=active=='github'?'active':'')
              a(href="/github") Github
            li(class=active=='support'?'active':'')
              a(href="/support") Support
          ul.nav.pull-right
            li.nav-pricing(class=active=='plans'?'active':'')
              a(href="/plans") Pricing &amp; Signup
            li(class=active=='login'?'active':'')
              a.navbar-link(href="/login") Login